# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
pyrightconfig.json

# pyenv
# .python-version

# pipenv
#Pipfile.lock

# UV
#uv.lock

# poetry
#poetry.lock
#poetry.toml

# pdm
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
.pixi

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#.idea/

# Abstra
.abstra/

# Visual Studio Code
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# PROJECT SPECIFIC IGNORES (PowerPulse)
/last_msg.json
/consume_recent.py
/ingestion/device_configs.json
/ingestion/last_msg.json
/processing/jobs/count_raw.py
/ingestion/v2/scripts/check_is_fresh.py
/ingestion/v2/scripts/test_record.py
/ingestion/v2/scripts/verify_kafka_msg.py
/ingestion/v2/scripts/verify_kafka_push.py
/ingestion/v2/scripts/verify_kafka_schema.py
# Data Silo Structures (Track folders but ignore data)
**/data/raw/*
**/data/archive/*
!**/data/raw/.gitkeep
!**/data/archive/.gitkeep
/fix_pg.sh
/fix_pg.bat
/check_pg.sh
/check_pg.bat
/ml-loader-start.sh
/ml-loader-start.bat
/storage/loader-start.sh
/storage/loader-start.bat


# Global Data Ignores
*.parquet
*.log

# Mock data generators
/generate_mock_ml_data.py
/mock_docker.py
