# Data files (generated during testing)
data/raw/*
data/refined/*
!data/raw/.gitkeep
!data/refined/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
 

# IDE
.idea/
.vscode/
*.swp
*.swo

# Spark
*.log
metastore_db/
spark-warehouse/
derby.log

# OS
.DS_Store
Thumbs.db
